httpx
matplotlib
pygtrie
pytz
numpy
aiohttp
loguru
lxml
requests
ujson
fuzzywuzzy
peony_twitter[all]
zhconv
beautifulsoup4
dataclasses
nonebot2
nonebot-adapter-cqhttp
nonebot_plugin_apscheduler
peony
Pillow